cluster: testk
numcpus: 4
autostart: false
network: default
master_memory: 16384
worker_memory: 8192
bootstrap_memory: 8192
disk_size: 30
extra_disks:
 - 10
domain: karmalabs.com
masters: 1
workers: 0
api_ip: 192.168.122.253
